<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Success</title>
    {% load static %}
</head>
<body>
    <h1>Success! Welcome, {{user.first_name}} </h1>
    <div class="m-1 d-flex justify-content-end">
        <p><a href="/logout">Log Out</a></p>
    </div>
    <h3>Successfully Registered (or logged in)!</h3>
</body>
</html>